{% extends "base.html" %}

{% block title %}
JUians of Gaibandha | Home
{% endblock %}

{% block content %}

<!-- =========================================================
     Hero Section
========================================================= -->
{% include "sections/hero.html" %}


<!-- =========================================================
     About Section
========================================================= -->
{% include "sections/about.html" %}


<!-- =========================================================
     Recent Events Section
========================================================= -->
{% include "sections/recent_events.html" %}


<!-- =========================================================
     Search Section
========================================================= -->
{% include "sections/search.html" %}


<!-- =========================================================
     Why Join Us Section
========================================================= -->
{% include "sections/why_join.html" %}


<!-- =========================================================
     Statistics Section
========================================================= -->
{% include "sections/statistics.html" %}


<!-- =========================================================
     Categories Section
========================================================= -->
{% include "sections/categories.html" %}


{% endblock %}